<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>DodleMe !</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="bower_components/ng-material-datetimepicker/css/material-datetimepicker.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <!-- <link rel="stylesheet" href="styles/main.css"> -->
    <!-- endbuild -->
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css" rel="stylesheet" integrity="sha384-h21C2fcDk/eFsW9sC9h0dhokq5pDinLNklTKoxIZRUn3+hvmgQSffLLQ4G4l2eEr" crossorigin="anonymous"> -->
</head>

<body ng-app="dodleme">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header" ng-controller="HeaderCtrl">
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                    <!-- Lien DodleMe -->
                    <a class="navbar-brand" ng-click="activeTab = 'tousLesEvenements'" ng-href="#!/tousLesEvenements">DodleMe</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li ng-show="$storage.isConnected" ng-class="{active: activeTab == 'tousLesEvenements'}"><a ng-click="activeTab = 'tousLesEvenements'" ng-href="#!/tousLesEvenements">Nos Evenements</a></li>
                        <li ng-show="$storage.isConnected" ng-class="{active: activeTab == 'creerEvent'}"><a ng-click="activeTab = 'creerEvent'" ng-href="#!/creerEvent">Nouvel évenement</a></li>
                        <li ng-show="!$storage.isConnected" ng-class="{active: activeTab == 'inscription'}"><a ng-click="activeTab = 'inscription'" ng-href="#!/inscription">Inscription</a></li>
                        <li ng-show="!$storage.isConnected" ng-class="{active: activeTab == 'connexion'}"><a ng-click="activeTab = 'connexion'" ng-href="#!/connexion">Connexion</a></li>
                        <button class="btn btn-danger navbar-btn" ng-controller="DeconnexionCtrl" ng-show="$storage.isConnected" ng-click="disconnect()">Déconnexion</button>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="container">
        <div ng-view=""></div>
    </div>

    <div class="footer" ng-controller="FooterCtrl">
        <div class="container">
            <p class="col-md-10 col-md-offset-3"><span class="glyphicon glyphicon-menu-left"></span> from Guillaume FINES - Emma MURILLO-CANTIE - Philippe ROQUES-GEOFFROY <span class="glyphicon glyphicon-menu-right"></span></p>
        </div>
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/ng-material-datetimepicker/js/angular-material-datetimepicker.js"></script>
    <script src="bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/markerclustererplus/src/markerclusterer.js"></script>
    <script src="bower_components/google-maps-utility-library-v3-markerwithlabel/dist/markerwithlabel.js"></script>
    <script src="bower_components/google-maps-utility-library-v3-infobox/dist/infobox.js"></script>
    <script src="bower_components/google-maps-utility-library-v3-keydragzoom/dist/keydragzoom.js"></script>
    <script src="bower_components/js-rich-marker/src/richmarker.js"></script>
    <script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <script src='//maps.googleapis.com/maps/api/js?libraries=places&sensor=false&key=AIzaSyAbKMu51YXRzptL33ANmVJACr5VYXFT2Xs'></script>

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/connexion.js"></script>
    <script src="scripts/controllers/creerevent.js"></script>
    <script src="scripts/controllers/deconnexion.js"></script>
    <script src="scripts/controllers/header.js"></script>
    <script src="scripts/controllers/footer.js"></script>
    <script src="scripts/controllers/inscription.js"></script>
    <script src="scripts/controllers/accueil.js"></script>
    <script src="scripts/controllers/tousLesEvenements.js"></script>

    <script src="scripts/services/node.service.js"></script>
    <!-- endbuild -->

    <script src="bower_components/moment/locale/fr.js"></script>
</body>

</html>